<!-- FOOTER HOME ItaliaCandele -->
<div class="footer">
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
      <!-- Logo e descrizione -->
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <img src="{{ site.baseurl }}/assets/images/logo-white-300x76.png" alt="ItaliaCandele Logo" class="navbar-logo" />
        </a>
        <p>
          ItaliaCandele, il tuo punto di riferimento per candele artigianali di alta qualità. Scopri la nostra vasta gamma di candele profumate, decorazioni e accessori, pensati per creare l'atmosfera perfetta in ogni ambiente. Consegna veloce e un servizio clienti sempre a tua disposizione.
        </p>
      </div>

      <!-- Sezioni di navigazione -->
      <div class="col mb-3"></div>
      <div class="col mb-3">
        <h5 class="fw-bold">Contatti</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light"><i class="fa-solid fa-location-dot"></i> Via Palestro, 9, 95040 Licodia Eubea CT</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light"><i class="fa-solid fa-envelope-circle-check"></i> info@italiacandele.com</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light"><i class="fa-solid fa-phone"></i>XXXX XXX XXXX</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5 class="fw-bold">Gruppo ItaliaCandele srl</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">ItaliaCandele SRLS è il tuo esperto di candele artigianali. Con una vasta selezione di candele profumate e decorazioni, portiamo eleganza e atmosfera nella tua casa. Offriamo prodotti di alta qualità con un servizio cliente dedicato per garantirti la migliore esperienza d'acquisto.</li>
        </ul>
      </div>

      <!-- Sezione Social -->
      <div class="col mb-3">
        <h5 class="fw-bold">Seguici sui nostri canali social</h5>
        <ul class="list-unstyled d-flex">
          <li class="me-3">
            <a href="https://www.facebook.com/ItaliaCandeleit" class="text-light">
              <i class="fa-brands fa-facebook-f"></i> Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/ItaliaCandele_s.r.l.s/" class="text-light">
              <i class="fa-brands fa-instagram"></i> Instagram
            </a>
          </li>
        </ul>
        <h5 class="fw-bold">Link Utili</h5>
        <ul class="nav flex-column">
          <li class="me-3">
            <a href="/Carta-dei-servizi.pdf" class="text-light">
              <i class="fa-solid fa-file-contract"></i> Carta dei servizi
            </a>
          </li>
          <li>
            <a href="/policy/" class="text-light">
              <i class="fa-solid fa-user-lock"></i> Dichiarazione sulla privacy
            </a>
          </li>
          <li>
            <a href="/cookie/" class="text-light">
              <i class="fa-solid fa-cookie-bite"></i> Cookie policy
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Linea divisoria e copyright -->
    <hr class="text-light">
    <div class="d-flex justify-content-between py-3">
      <p class="mb-0">© ItaliaCandele SRL. P.IVA XXXXXXXX – Cod. Univoco XXXXX – Tutti i diritti riservati.</p>
      <p class="mb-0">Made by Antonio Trento</p>
    </div>
  </div>
</div>
